.centertext {
	text-align: center;
	font-weight: bold;
	color: #7A6E6E;
}
.smallertext {
	color: gray;
	text-align: center;
	padding-left: 220px;
	padding-right: 220px;
	line-height: 130%;
}
.menubar {
	background-color: #B8860B;
}
.goldmine {
	color: yellow !important;
}
.gold {
	background-color: #F0F8FF;
}
.links {
	color: white !important;
}
.code {
	text-align: center;
}
.padding {
	padding-bottom: 10px
}
.paddingtop {
	padding-top: 10px;
}
.paddingbottom {
	padding-bottom: 20px;
}
body {
	background-color: #EDEDED;
}
.seconddiv {
	background-color: white;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;

}
.sidebar {
	color: gray;
	padding-left: 220px;
}
.bottomdiv {
	padding-top: 20px;
}
.authors {
	text-align: center;
	padding-top: 40px;
	color: gray;
}
.authors2 {
	text-align: center;
	padding-top: 10px;
	color: gray;
	padding-bottom: 40px;
}
.middlediv {
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;
	background-color: white;
}
.enddiv {
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: white;
}